# Ignore virtual environments
.venv/

# Ignore all data contents
**/data/**
!**/data/**/
!**/data/**/.gitkeep
!src/data/*
!data/versions/*
!data/external/images/*
!data/external/masks/walls/*

experiments/
trials/*
!trials/cubicasa5k/
!trials/cubicasa5k/**
!experiments/.gitkeep
mlruns

**/__pycache__/
# Python cache
**/__pycache__/
*.py[cod]
