# Ignore virtual environments
.venv/

# Ignore all data contents by default
data/**

# Re-include directory structure so Git can traverse
!data/
!data/external/
!data/external/masks/
!data/external/masks/walls/
!data/versions/
!src/data/

# Re-include specific allowed files
!**/data/**/.gitkeep
!src/data/*
!data/versions/*
!data/external/images/*
!data/external/
!data/external/masks/
!data/external/masks/walls/*

experiments/
trials/*
!trials/cubicasa5k/
!trials/cubicasa5k/**
!experiments/.gitkeep
mlruns

**/__pycache__/
# Python cache
**/__pycache__/
*.py[cod]
