# Ignore virtual environments
.venv/

# Ignore all data contents
**/data/**
!**/data/**/
!**/data/**/.gitkeep
!src/data/*
!data/versions/*
!data/external/images/*

experiments/
trials/
!experiments/.gitkeep
mlruns